.meet-section {
    background-image: url('images/website-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    margin: 0;
    overflow: hidden; /* Keeping this as hidden */
}

.game-background {
    background-image: url('images/website-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 120vh; /* Adjust this as necessary */
    margin: 0;
    overflow: auto; /* This will allow for scrolling */
}

.custom-container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 8%;
}

.custom-row {
    display: flex;
    justify-content: center;
}

.custom-column {
    width: 100%;
    padding: 1rem;
}

.custom-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #333;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 351px;
    padding-left: 930px;
}


.custom-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    border: 0;
}

