body.TOP {
    background-image: url('images/website-background.jpg');
    background-size: cover; /* makes sure the image covers the entire element */
    background-repeat: no-repeat; /* prevents image from repeating */
    background-attachment: fixed; /* ensures the background stays fixed with regard to the viewport */
    background-position: center center; /* centers the image */
    height: 100%; /* takes the full height */
    margin: 0; /* remove default margin */
    overflow: hidden; /* hides any overflow */
}

/* Add this class to your CSS file */
.game-background {
    background-image: url('images/website-background.jpg');
    background-size: cover; /* makes sure the image covers the entire element */
    background-repeat: no-repeat; /* prevents image from repeating */
    background-attachment: fixed; /* ensures the background stays fixed with regard to the viewport */
    background-position: center center; /* centers the image */
    height: 100%; /* takes the full height */
    margin: 0; /* remove default margin */
    overflow: hidden; /* hides any overflow */
  }
  