.lesson-plans-container {
    background: url('../styles/images/website-background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    font-family: Roboto, Arial;
    padding-top: 200px;

}

.section-divider {
    background-color: white; /* adjust to the background color of the top section */
    height: 40px; /* adjust based on how pronounced you want the zig-zag to be */
    clip-path: polygon(
        0% 100%,
        10% 0%,
        20% 100%,
        30% 0%,
        40% 100%,
        50% 0%,
        60% 100%,
        70% 0%,
        80% 100%,
        90% 0%,
        100% 100%
    );
}


.lesson-header {
    background: url('../styles/images/website-background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px; /* Adjust based on how much of the background you want to show */
    display: flex;
    align-items: center;
    justify-content: center;
}

.lesson-content {
    background-color: #FFFFFF;
    padding: 20px 0;
    /* Shadow Properties */
    box-shadow: inset -1px 0px 10px 0px rgba(0, 0, 0, 1.5)
}

.grade-section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grade-section img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.grade-section p {
    text-align: center;
    margin-bottom: 10px;
}

.grade-section a {
    background-color: #FFD700;  /* Gold color, change as needed */
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.grade-section a:hover {
    background-color: #FFC700;  /* Slightly darker gold on hover */
}
